Brotli==1.1.0
certifi==2023.7.22
charset-normalizer==3.3.0
coverage==5.5
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
idna==3.4
mutagen==1.47.0
packaging==23.2
pycryptodomex==3.19.0
python-dotenv==1.0.0
redis==5.0.1
requests==2.31.0
six==1.16.0
spotipy==2.23.0
toml==0.10.2
urllib3==2.0.6
websockets==11.0.3
yt-dlp==2023.9.24
